body {
  margin: 0;
  padding: 50px;
  font-family: 'Arial', sans-serif;
}

#app {
  max-width: 800px;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 40px;
}
.comment-box {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.comment-box input {
  flex-grow: 1;
  border-radius: 4px;
  border: 2px solid #eee;
  padding: 10px;
  outline: none;
  transition: border 0.1s;
}
.comment-box input:hover {
  border: 2px solid #ddd;
}
.comment-box input:focus {
  border: 2px solid #ccc;
}
.comment-box button {
  background: rgb(151, 4, 236);
  color: white;
  border-radius: 4px;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 20px;
  transition: background-color 0.1s, opacity 0.1s;
}
.comment-box button:hover {
  background: rgb(171, 50, 241);
}
.comment-box button:disabled {
  opacity: 0.5;
}

.profile-photo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

hr {
  margin: 40px 0;
  width: 100%;
  height: 1px;
  border: none;
  background-color: #ddd;
}

.comment {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}
.comment-contents {
  flex-grow: 1;
}
.comment-author-line {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.comment-author {
  font-weight: bold;
}
.comment-timestamp {
  color: #888;
  font-size: 0.9em;
}

.comment-body {
  margin-bottom: 10px;
}

.comment-button {
  background: none;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 0.8em;
  color: #777;
  padding: 10px;
  cursor: pointer;
  transition: color 0.1s;
}
.comment-button:hover {
  color: #333;
}
